@model HC_Odontologicas.Models.PacienteBecaVulnerabilidad

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PacienteBecaVulnerabilidad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoBeca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoBeca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailPersonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailPersonal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailEPN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailEPN)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Codigo">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
