@model HC_Odontologicas.Models.ConsentimientoInformado

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Consentimiento Informado</h4>
<hr />
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Codigo" />
			<input asp-for="CodigoCitaOdontologica" type="hidden" />
			<fieldset>
				<legend class="titulo text-uppercase" style="font-size:inherit">Datos informativos</legend>
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="CodigoPaciente" class="control-label">Paciente*</label>
							<select asp-for="CodigoPaciente" class="form-control" asp-items="ViewBag.CodigoPaciente" disabled></select>
							<span asp-validation-for="CodigoPaciente" class="text-danger"></span>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="form-group">
							<label asp-for="CodigoPersonal" class="control-label">Personal*</label>
							<select asp-for="CodigoPersonal" class="form-control" asp-items="ViewBag.CodigoPersonal" disabled></select>
							<span asp-validation-for="CodigoPersonal" class="text-danger"></span>
						</div>
					</div>
				</div>
			</fieldset>


			<fieldset>
				<legend class="titulo text-uppercase" style="font-size:inherit">Consentimiento Informado</legend>
				<input asp-for="Descripcion" value="@ViewBag.Descripcion" hidden />
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
						<div class="form-group">
							<label asp-for="Descripcion" class="control-label">Descripción*</label>
							<label asp-for="Descripcion" style="text-align:justify">@ViewBag.Descripcion</label>
							<span asp-validation-for="Descripcion" class="text-danger"></span>
						</div>
					</div>
				</div>
				
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-xs-12">
					<div class="form-group">
						@{
							var imgFileName = @ViewBag.ImagenConsentimiento;
						}
						<label>Firma</label>
						<br />
						<img src="~/Firmas/@imgFileName" width="100" height="100" />
					</div>
				</div>
			</div>
			</fieldset>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<a class="btn btn-white" style="border: 1px solid #007bff;" onclick="regresar('../ConsentimientoInformado/Index','');">Regresar</a>
						@*<button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Guardar</button>*@
					</div>
				</div>
			</div>

		</form>
	</div>
</div>


@if (ViewBag.Message != null)
{
	<script type="text/javascript">
        window.onload = function () {
            if ("@ViewBag.Message" === "Save") {
                SuccessAlert("Guardados","/../ConsentimientoInformado");
            }
            else {
                ErrorAlert("@ViewBag.Message");
            }
        };
	</script>
}

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script type="text/javascript">
	$(document).ready(function () {
		$('.i-checks').iCheck({
			checkboxClass: 'icheckbox_square-blue',
			radioClass: 'iradio_square-blue',
		});
	});
</script>
