@model Paginacion<HC_Odontologicas.Models.Paciente>

@using HC_Odontologicas.FuncionesGenerales;
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Pacientes</h3>
<br />
@if ((bool)ViewData["Crear"])
{
	<a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</a>
}
@if ((bool)ViewData["Exportar"])
{
	@*<a asp-action="GetExcel" class="btn btn-primary"><i class="fa fa-download"></i> Exportar</a>*@
}

@*importar datos para hacer directo*@
@*<a asp-action="ImportCustomer" class="btn btn-primarybtn btn-sm btn-info botones-top" title="@Localizer["ImportarDirecto"]"><i class="fa fa-download"></i> @Localizer["ImportarDirecto"]</a>*@

@*importar datos desde el modal*@

<a data-toggle="modal" class="btn btn-primary" href="#modalImportarDatos"><i class="fa fa-download"></i> Importar</a>
<br />
<br />
@* Buscar *@

<form class="form-inline" asp-action="Index" method="get">
	<input class="form-control mr-sm-2" type="search" name="search" placeholder="Buscar..." value="@ViewData["Filter"]">
	<button class="btn btn-sm btn-primary" type="submit">Buscar</button>
	<a asp-action="Index" class="btn btn-sm btn-danger" title="Limpiar filtro">Limpiar</a>
</form>
<br />
<table class="table">
	<thead>
		<tr>
			<th>
				Número único
			</th>
			<th>
				<a asp-action="Index" asp-route-sortOrder="@ViewData["NombreSortParam"]" asp-route-filter="@ViewData["Filter"]">Nombre</a>
			</th>

			<th>
				Cédula
			</th>
			<th>
				Correo Institucional
			</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.NumeroUnico)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.NombreCompleto)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Identificacion)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.MailEpn)
				</td>
				<td>
					@if ((bool)ViewData["Editar"])
					{
						<a asp-action="Edit" asp-route-Codigo="@Encriptacion.Encrypt(item.Codigo)" class="btn btn-white colorBordeBotonAccion" data-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i> Editar</a>
					}
					@if ((bool)ViewData["Eliminar"])
					{
						<a onclick="eliminar('@item.Codigo','../Pacientes/DeleteConfirmed','/../Pacientes')" class="btn btn-white colorBordeBotonAccion" data-toggle="tooltip" title="Eliminar"><i class="fa fa-trash"></i> Eliminar</a>
					}

					</td>
			</tr>
		}
	</tbody>
</table>
<br />
@* Paginación *@
@{
	var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-sortOrden="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex-1)" asp-route-filter="@ViewData["Filter"]" class="btn btn-sm btn-default @prevDisabled">Anterior</a>
@for (int i = 1; i <= Model.TotalPages; i++)
{
	if (Model.PageIndex == i)
	{
		<a asp-action="Index" asp-route-sortOrden="@ViewData["CurrentSort"]" asp-route-page="@i" asp-route-filter="@ViewData["Filter"]" class="btn btn-sm btn-default active">@i</a>
	}
	else
	{
		<a asp-action="Index" asp-route-sortOrden="@ViewData["CurrentSort"]" asp-route-page="@i" asp-route-filter="@ViewData["Filter"]" class="btn btn-sm btn-default ">@i</a>
	}
}

<a asp-action="Index" asp-route-sortOrden="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex+1)" asp-route-filter="@ViewData["Filter"]" class="btn btn-sm btn-default @nextDisabled">Siguiente</a>

<div class="pull-right">
	Registros: @Model.TotalR
</div>



@* modal para importar los datos*@

<div id="modalImportarDatos" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="m-t-none m-b">Importar Datos</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="limpiarDatos();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form role="form" enctype="multipart/form-data" id="Importar" name="Importar" method="post" asp-action="GuardarDatosImportados">
					<div class="form-group row">
						<div class="custom-file">
							<input id="Documento" type="file" class="custom-file-input" onchange="validarTamanioArchivo($(this));" accept="application/excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" /> @*accept="application/excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" >*@
							<label for="nombre" id="nombre" class="custom-file-label">Seleccione un archivo...</label>
							<br />
						</div>
						<span id="DocumentoMensaje" name="DocumentoMensaje" class="text-danger"></span>
					</div>
					<div class="form-group row">
						<br />
						<button class="btn btn-primary btn-sm" type="button" onclick="cargarDatosTablaImportar();">Cargar Datos</button>
					</div>
					<div class="form-group row">
						<div class="table-responsive">
							<table id="tablaImportarImpuestos" class="table table-stripped table-bordered">
								<thead>
									<tr>
										<th>Nro.</th>
										<th>Código</th>
										<th>Nombre</th>
										<th>Cédula</th>
										<th>FechaNac</th>
										<th>Genero</th>
										<th>Dirección</th>
										<th>Teléfono</th>
										<th>Celular</th>
										<th>Email</th>
										<th>Carrera</th>
										<th>Facultad</th>
										<th>EmailEPN</th>
										<th>Graduado</th>
										<th>Titulación</th>
										<th>Etnia</th>
										<th>Observaciones</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group row">
						<button class="btn btn-primary btn-sm" id="btnGuardar" type="button" onclick="GuardarDatosImportardos('@Url.Action("Index", "Pacientes" )','@Url.Action("GuardarDatosImportados", "Pacientes" )');">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>

</div>
<div style="display:none;">
	<input id="TamanoAdjunto" value="@ViewBag.TamanoAdjunto" />
</div>


@section Scripts {
	
	<script type="text/javascript">
		$(document).ready(function () {
			$('.custom-file-input').on('change', function () {
				let fileName = $('.custom-file-input').val().split('\\').pop();//$(this).val().split('\\').pop();
				$(this).next('.custom-file-label').addClass("selected").html(fileName);
			});

		});

		
	</script>
}
