@model Paginacion<HC_Odontologicas.Models.Odontograma>
@using HC_Odontologicas.FuncionesGenerales;
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Odontogramas</h1>
<br />
@if ((bool)ViewData["Crear"])
{
	<a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo</a>
}
@if ((bool)ViewData["Exportar"])
{
	@*<a asp-action="GetExcel" class="btn btn-primary"><i class="fa fa-download"></i> Exportar</a>*@
}
<br />
<br />
@* Buscar *@
<form class="form-inline" asp-action="Index" method="get">
	<input class="form-control mr-sm-2" type="search" name="search" placeholder="Buscar..." value="@ViewData["Filter"]">
	<button class="btn btn-sm btn-primary" type="submit">Buscar</button>
	<a asp-action="Index" class="btn btn-sm btn-danger" title="Limpiar filtro">Limpiar</a>
</form>
<br />

<table class="table">
	<thead>
		<tr>
			<th>
				Paciente
			</th>
			<th>
				Doctor
			</th>
			<th>
				Fecha
			</th>			
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.CitaOdontologica.Paciente.NombreCompleto)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CitaOdontologica.Personal.NombreCompleto)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FechaActualizacion)
				</td>				
				<td>
					<a asp-action="Edit" asp-route-Codigo="@Encriptacion.Encrypt(item.Codigo)" class="btn btn-outline-warning" data-toggle="tooltip" title="Editar">Editar</a>
					@*<a asp-action="Edit" asp-route-Codigo="@Encriptacion.Encrypt(item.Codigo)" onclick="obtenerDatosOdontograma('@Encriptacion.Encrypt(item.Codigo)')" class="btn btn-outline-warning" data-toggle="tooltip" title="Editar">Editar</a>*@
					<a onclick="eliminar('@item.Codigo','../Odontogramas/DeleteConfirmed','/../Odontogramas')" class="btn btn-outline-danger" data-toggle="tooltip" title="Eliminar">Eliminar</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<br />
@* Paginación *@
@{
	var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
	var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index" asp-route-sortOrden="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex-1)" asp-route-filter="@ViewData["Filter"]" class="btn btn-sm btn-default @prevDisabled">Anterior</a>
@for (int i = 1; i <= Model.TotalPages; i++)
{
	if (Model.PageIndex == i)
	{
		<a asp-action="Index" asp-route-sortOrden="@ViewData["CurrentSort"]" asp-route-page="@i" asp-route-filter="@ViewData["Filter"]" class="btn btn-sm btn-default active">@i</a>
	}
	else
	{
		<a asp-action="Index" asp-route-sortOrden="@ViewData["CurrentSort"]" asp-route-page="@i" asp-route-filter="@ViewData["Filter"]" class="btn btn-sm btn-default ">@i</a>
	}
}

<a asp-action="Index" asp-route-sortOrden="@ViewData["CurrentSort"]" asp-route-page="@(Model.PageIndex+1)" asp-route-filter="@ViewData["Filter"]" class="btn btn-sm btn-default @nextDisabled">Siguiente</a>
<br />
<div class="pull-right">
	Registros: @Model.TotalR
</div>
