@model HC_Odontologicas.Models.CertificadoMedicoImprimir

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	#logo-container {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>

<div>
	<div align="center">
		<img src="~/imgen/logoEPN.jpg" width="100" height="100" />
	</div>

	<h4 style="text-align: center">ESCUELA POLITÉCNICA NACIONAL</h4>
	<br />
	<h5>CENTRO MEDICO DE DBP- ÁREA DE ODONTOLOGÍA</h5>
	<br />
	<div>
		<span>Quito,</span>
		<input asp-for="Fecha" type="date" />
	</div>
	<br />
	<div>
		<span>Certifico que el paciente </span>
		<select asp-for="CodigoPaciente" asp-items="ViewBag.CodigoPaciente" style="display:inline"></select>
		<span> con cédula N° @ViewBag.CedulaPaciente presenta </span>
		<select asp-for="CIE10Codigo" asp-items="ViewBag.Cie10" style="display:inline"></select>
		<span> CIE10 </span>
		<span>@ViewBag.CodigoCie10 en el diente # @ViewBag.Pieza. Por lo cual </span>
		<input asp-for="Observacion" size="50" />
		<span>, ademas se le recomendo</span>
		<input asp-for="Recomendacion" size="50" />
		<br />
		<span>Es todo cuanto puedo certificar en el honor a la verdad y el interesado puede hacer uso del presente.</span>
		<br />
		<span>Saludo Cordial, </span>
		<br />
		<br />
		<br />
		<br />
		<span>@ViewBag.NombreDoctor</span>
		<br />
		<span>Odontólogo Institucional de la Escuela Politécnica Nacional: @ViewBag.CorreoDoctor</span>
		<br />
		<strong>Direccion: Edificio N°20, Facultad de Sistemas, 1er piso Teléfono: 2976300 ext.1134. Ladrón de Guevara E11-253</strong>

	</div>
	<br />
	<br />

	<span>prueba 2</span>

	<span>@ViewBag.Contenido</span>


	<a asp-action="DemoViewAsPdfTest" class="btn btn-primary"><i class="fa fa-download"></i>Ver</a>

</div>




